<div class="flex">
    <div class="w-3/5 p-4">
        <div class="border">
            <img src="/assets/certificate.jpg" alt="certificate">
        </div>
    </div>
    <div class="w-2/5 p-4">
        <div>
            <h1 class="font-semibold">Certificate Recipient:</h1>
            <div>
                <h1><span class="font-semibold">Name: </span>Saket Aryan</h1>
            </div>
        </div>
        <div class="my-2">
            <h1 class="font-semibold">About The Certificate:</h1>
            <div> 
                <p class="text-justify text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="flex gap-2 text-sm my-2 mt-8">
            <button class="border text-blue-500 border-blue-500 hover:bg-blue-700 hover:text-white font-bold py-2 px-4 rounded">
                <a href="#">Download</a>
            </button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                <a href="#">Share</a>
            </button>
        </div>
    </div>
</div>